<!-- ADMIN page that only admins can access
-->
<nav>
  <ul>
    <li><a href="/admin/users">View users</a></li>
    <li><a href="/admin/reserved_books">View reserved items</a></li>
    <li><a href="/admin/checked_out_books">View checked out items</a></li>
    <li><a href="/admin/add_book">Add book to the library</a></li>
  </ul>
</nav>