<% content_for :styles do %>
  <link rel="stylesheet" href="/stylesheets/users.css">
<% end %>

<h2>Registered with us</h2>
<p>Sorted alphabetically by name</p>

<table>
  <tr>
    <th>Full name</th>  
    <th>Username</th>
    <th>Member since</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user["full_name"] %></td>
      <td><a href="/profile/<%= user["username"] %>"><%= user["username"] %></a></td>
      <td><%= user["account_created_on"] %></td>
    </tr>
  <% end %>
</table>